.restDetail__info {
    height: 375px; /* 100% Full-height */
  width: 375px; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  overflow-x: hidden; /* Disable horizontal scroll */

  border: 1px dashed #0073bb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(251, 254, 255);

    right: 20%;


}

.info_text {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px 20px 10px;
    font-weight: 700;
    color: #DD7134;
    opacity: .8;


}


.restDetail__transactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px dashed black;
    padding-bottom: 7px;
}

.fas.fa-walking, .fas.fa-truck {
    color: lightslategrey;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: .6;
}

.fas.fa-phone-volume {
    font-size: 35px;
    color: lightslategrey;
    opacity: .6;
    padding-left: 10px;
}

.transactions__text {
    font-family: Arial, Helvetica, sans-serif
}

.phone__div {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 5px 15px;
    font-weight: 700;
    color: lightslategrey;
    border-bottom: 2px dashed black;
    padding-bottom: 7px;
}

.address_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 20px;
    color: #DD7134;
    opacity: .8;
}

.address {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
    font-size: 18px;
    color:lightslategray;
    font-weight: 530;
    opacity: .8;
}
