.addReview-btn {
    height: 50px;
    width: 150px;
    margin-left: 50%;
    border: none;
    font-size: 18px;
    color: honeydew;
    font-weight: 600;
    background-color: #DD7134;
    border-radius: 50px;
    opacity: .75;
    cursor: pointer;
}

.add-review__form-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 500px;
}

.add-review__form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 500px;
    width: 500px;
    padding-left: 20px;

}

.textarea {
    box-shadow: 0 4px 16px rgb(0 0 0 / 20%);

}

.textarea:focus{
    outline: none;
}

.add-review__title{
    height: 40px;

    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 4px;
    margin-right: 30%;
}

.stars--container {
    margin-left: 25%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #009dff;
}

.submit-review__btn{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: honeydew;
    background-color: #DD7134;
    opacity: .7;
    margin-left: 50%;

}

.addReview_logo-container{
    margin-top: 25%;
}
.thank-you{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 15px;
    color: #009dff;
    opacity: .3;
    border: 1px solid red;


}
