.review__container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-left: 350px;

    width: 1000px;
    margin-top: 10px;

}

.review__profile {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
    width: 50%;
}

.review__star-rating {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}

.review__date {
    margin-top: 22px;
    padding-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.review__editBtns {
    margin-left: auto;
}


.edit__btn, .del__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #009dff;
    opacity: .5;

}

.del__btn {
    padding-right: 15px;
}

.edit__btn {
    padding-right: 30px;
}


.review__title {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-top: 10px;
}

.review__content {
    padding: 15px 10px;
    width: 73%;
    margin-left: 15px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;

}

.review__user {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
}
