.footer__container {
    position: fixed;
    font-weight: 800;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 35px;
    background-color: lightgrey;
    opacity: .6;
}
