.restDetail__Header {
    min-height: 500px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-size: cover; */
    border-radius: 10px;

}

.header__name {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-weight: 1000;
    color: whitesmoke;

}

.header__star {
    margin-left: 300px;
}

.header__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500px;
}

.header__listitems {
    font-size: 20px;
    color: whitesmoke;
}
